<h1><%= current_user.name %>'s Tasks </h1>

<ul id="task-list">
  <%= render @tasks %>
</ul>

<section>
  <fieldset style="width: 400px">
    <%= form_for @task do |form| %>
      <%= form.text_field :content, placeholder:"New Task", required: true %>
      <%= form.submit %>
    <% end %>
  </fieldset>
</section>

